/* src/ModelList.css */

.model-list-container {
  max-height: 500px;
  overflow-y: auto;
  background-color: rgba(0, 0, 139, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: middle;
  padding: 1px;
  border-bottom: 1px solid #ccc;
  font: 18px;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
