.googleKLineChart {
  background-color: hsl(
    0,
    88%,
    3%
  ); /* You can change this color to your preferred background color */
  width: 800px; /* Change this value to adjust the width of the component */
  height: 600px; /* Change this value to adjust the height of the component */
}
